* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.kv-container {
    max-width: 80%;
    margin: 16px auto;
}

.kv-text-muted {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}

.kv-btn-primary {
    padding: 16px;
    background-color: #469165;
    color: #fff;
    border: 2px solid #469165;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
}

.kv-btn-primary:hover {
    background-color: transparent;
    color: #469165;
}

.kv-btn-outline {
    padding: 16px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

#kv-header {
    margin: auto;
}

.kv-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kv-nav-menu {
    display: flex;
    gap: 32px;
    list-style: none;
}

.kv-nav-menu li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

#kv-hero {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.kv-hero-content {
    max-width: 770px;
    padding: 170px 0;
    color: #fff;
}

#kv-hero h1 {
    font-size: 72px;
    font-weight: 700;
}

#kv-hero h1 span {
    color: #469165;
}

.kv-hero-actions {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

#kv-structure {
    margin: 120px 0;
}

.kv-section-header {
    text-align: center;
    margin-bottom: 44px;
}

.kv-section-header h1 {
    font-size: 48px;
    font-weight: 700;
}

.kv-card-grid {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.kv-info-card {
    max-width: 274px;
    padding: 70px 24px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
}

.kv-info-card img {
    background: #F95555;
    padding: 14px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.kv-info-card h3 {
    font-size: 24px;
    margin-bottom: 16px;
}

#kv-second-brain {
    margin-bottom: 120px;
}

.kv-two-column {
    display: flex;
    align-items: center;
    gap: 60px;
}

.kv-feature-list {
    list-style: none;
    margin-top: 24px;
}

.kv-feature-list li {
    margin-bottom: 16px;
    color: #001931;
}

.kv-feature-list i {
    color: #469165;
}

#kv-cta {
    margin-bottom: 120px;
}

.kv-cta-box {
    background: #F7F6F2;
    padding: 80px 40px;
    border-radius: 12px;
    text-align: center;
}

#kv-cta h2 {
    font-size: 40px;
    margin-bottom: 16px;
}

