* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.kv-container {
    max-width: 80%;
    margin: 16px auto;
}

.kv-text-muted {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}

.kv-btn-primary {
    padding: 16px;
    background-color: #469165;
    color: #fff;
    border: 2px solid #469165;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
}

.kv-btn-primary:hover {
    background-color: transparent;
    color: #469165;
}

.kv-btn-outline {
    padding: 16px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

#kv-header {
    margin: auto;
}

.kv-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kv-nav-menu {
    display: flex;
    gap: 32px;
    list-style: none;
}

.kv-nav-menu li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

